html {
  background-color: #333;
  color: #6feff9;
  font-family: "Ubuntu Mono", monospace;
  line-height: 1.5;
}

.controls {
  display: inline-block;
  width: 100%;
  margin: 0;
}

#cttv {
  display: inline-block;
  width: 100%;
  height: 25em;
}

#stats {
  display: inline-block;
  width: 100%;
}
#island-map {
  max-heignt: 25em;
}

.dashboard-map {
  display: block;
  height: 800px;
  max-height: 25em;
}

.dashboard-stats {
  display:inline-block;
  height: 180px;
  max-height: 450px;
}

.dashboard-videos {
  display:inline-block;
  height: 180px;
  max-height: 450px;
}